<launch>

<node pkg="ros_rl500xa" type="ROSToArduino.py" name="ROSToArduino" output="screen"/>

<node pkg="rosserial_python" type="serial_node.py" name="arduino" output="screen">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
</node>

<!--Change jsX according to the USB port-->
<node pkg="joy" type="joy" name="teleopJoy">
        <param name="dev" type="string" value="/dev/input/js0" />

</node>
</launch>
