<launch>
  <!-- Parameters possible to change-->
    <arg name="camera0_id" default="#1" /><!-- here you can change 1@0 by the serial number -->
    <arg name="depth_registration" default="true" />

  <!-- Default parameters-->
    <arg name="camera0_name" default="kinect0" />

 <!-- Putting the time back to real time-->
    <rosparam>
       /use_sim_time : false
    </rosparam>

  <!-- Launching first kinect-->
    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="device_id" value="$(arg camera0_id)" />
        <arg name="camera" value="$(arg camera0_name)" />
        <arg name="depth_registration" value="$(arg depth_registration)" />
	<arg name="rgb" value="rgb0" />
	<arg name="depth_registered" value="depth_registered0" />
	<arg name="ir" value="ir0" />
     </include>


</launch>
