<launch>

<node pkg="rosserial_python" type="serial_node.py" name="arduino0" output="screen">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="115200"/>
	<remap from="arduinoToROS_tpc" to="arduinoToROS_tpc0" />
</node>

<node pkg="ros_rl500xa" type="ROSToArduino.py" name="ROSToArduino" output="screen"/>

<node pkg="ros_rl500xa" type="visual_tracker.py" name="VisualTracker0" output="screen">
	<remap from="kinectToROS_tpc" to="kinectToROS_tpc0" />
	<remap from="/camera/depth_registered/points" to="/kinect0/depth_registered0/points" />
	<remap from="/camera/rgb/image_color" to="/kinect0/rgb0/image_color" />
</node>

<!--Change jsX according to the USB port-->
<node pkg="joy" type="joy" name="teleopJoy">
        <param name="dev" type="string" value="/dev/input/js0" />

</node>

</launch>
